@import "https://cdn.jsdelivr.net/npm/tailwindcss@4/index.css";

body {
    background: radial-gradient(circle at top right, #f8fafc, #f1f5f9);
}

/* Memperhalus fokus kotak input */
input:focus {
    box-shadow: 0 0 0 4px rgba(79, 70, 229, 0.1);
}